@model DulsaWeb.Modelo.Lote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2Excedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M2Excedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteExcedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteExcedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImporteTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
