@model IEnumerable<Dulsa.Modelo.Lote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manzana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.M2Excedente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporteExcedente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImporteTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manzana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etapa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.M2Excedente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteExcedente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esquina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
