@model IEnumerable<Dulsa.Models.Lotes>

@{
    ViewBag.Title = "Index";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mantenimiento de Lotes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">
        <a id="btnNuevo" data-toggle="modal" href="#exampleModal" class="btn btn-primary">Nuevo</a>
    </div>
</div>
<br />

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manzana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etapa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2_Excedente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe_Excedente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esquina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe_Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manzana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Etapa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2_Excedente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe_Excedente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe_Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estatus)
                </td>
                <td>
                    <a href="#exampleModal" class="btnEditar btn-link btn-info" data-toggle="modal" data-id="@item.id_lote"><i class="glyphicon glyphicon-pencil" ></i></a> |
                    <a href="#exampleModal" class="btnDetails btn-link btn-info" data-toggle="modal" data-id="@item.id_lote"><i class="glyphicon glyphicon-eye-open"></i></a> |
                    <a href="#exampleModal" class="btnDelete btn-link btn-info" data-toggle="modal" data-id="@item.id_lote"><i class="glyphicon glyphicon-trash"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id_lote })*@ 
                    @*@Html.ActionLink("Details", "Details", new { id = item.id_lote }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id_lote })*@
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
<script src="~/Scripts/Lotes/Lotes.js"></script>
}