@model Dulsa.Models.Clientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regimen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regimen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RFC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RFC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lugar_nacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lugar_nacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_casa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_casa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono_Oficina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono_Oficina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sueldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sueldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beneficiario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beneficiario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
